<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Import/Export
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 text-left">/GET/</div>
			<div class="col-md-10 text-right">/devices/values/{{sidebar.help.deviceId}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">/POST/</div>
			<div class="col-md-10 text-right">/devices/{{sidebar.help.deviceId}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">Body</div>
			<div class="col-md-10 text-right">data=value</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">/DELETE/</div>
			<div class="col-md-10 text-right">/devices/{{sidebar.help.deviceId}}</div>
		</div>
	</div>
</div>
	
