<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Devices Stats
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 text-left">Total:</div>
			<div class="col-md-10 text-right">{{sidebar.stats.total}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">Online:</div>
			<div class="col-md-10 text-right">{{sidebar.stats.online}}</div>
		</div>
	</div>
</div>
	
